<!-- <div class="form-group has-error"> -->
<div class="row">
	<div class="tabbable-line boxless tabbable-reversed">
		<ul class="nav nav-tabs">

                                <li class="">
                                    <a href="#tabLibroHoras" data-toggle="tab" aria-expanded="false">Libro de Vuelo</a>
                                </li>

                                <li class="">
                                    <a href="#tabReportesHoras" data-toggle="tab" aria-expanded="true">Reportes de Horas</a>
                                </li>
		</ul>
		<div class="tab-content" style="padding: 0px 0;">



			<div class="tab-pane" id="tabLibroHoras">
				<div class="portlet-body form">
						<div id="addHoras" style="display:none;">
					<form method="post" class="horizontal-form" id="form_sample_2" novalidate="novalidate">
						<div class="form-body">
                                          <h3 class="form-section" style="margin: 0px;">Libro de Vuelo</h3>
                                                            <div class="row">

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="date" name="date" >
                                                                            <label for="form_control_1">Fecha<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="FLIGHT_TYPE" name="FLIGHT_TYPE" >
                                                                            <label for="form_control_1">Finalidad<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                </div>

                                                            <div class="row">
                                                            <hr>

                                                                <h4>Tiempos de Vuelo</h4>

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="DEPARTURE_TIME" name="DEPARTURE_TIME" >
                                                                            <label for="form_control_1">Hora de Salida<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="FROM" name="FROM" >
                                                                            <label for="form_control_1">Desde<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="TO" name="TO" >
                                                                            <label for="form_control_1">Hasta<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="ARRIVAL_TIME" name="ARRIVAL_TIME" >
                                                                            <label for="form_control_1">Hora de llegada<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="airport" name="airport" >
                                                                            <label for="form_control_1">Aeropuerto<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="pilot" name="pilot" >
                                                                            <label for="form_control_1">Piloto<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="co-pilot" name="co-pilot" >
                                                                            <label for="form_control_1">Co-Piloto<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>



                                                            </div>
                                                            <div class="row">
                                                             <hr>

                                                             <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="airport-day" name="airport-day" >
                                                                            <label for="form_control_1">De Día<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                 <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="airport-night" name="airport-night" >
                                                                            <label for="form_control_1">Nocturno<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div></div>
                                                            <div class="row">
                                                            <p>Travesia</p>
                                                                <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="crossing-day" name="crossing-day" >
                                                                            <label for="form_control_1">De Día<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                 <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="crossing-night" name="crossing-night" >
                                                                            <label for="form_control_1">Nocturno<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                            <hr>
                                                            <h4>Discriminación de Tiempos de vuelo</h4>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="landing" name="landing" >
                                                                            <label for="form_control_1">Aterrizajes<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="training" name="training" >
                                                                            <label for="form_control_1">Instrucción de Vuelo<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="multi-motor" name="multi-motor" >
                                                                            <label for="form_control_1">Multi Motor<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="reactor" name="reactor" >
                                                                            <label for="form_control_1">Reactor<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="turbo-propeller" name="turbo-propeller" >
                                                                            <label for="form_control_1">Turbo Helice<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="arial-aplication" name="arial-aplication" >
                                                                            <label for="form_control_1">Aero-Aplicador<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                            <div class="row">
                                                            <p></p>
                                                            <h4>Vuelo por Instrumentos</h4>
                                                                  <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="real" name="real" >
                                                                            <label for="form_control_1">Real<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                            </div>

						</div>

					</form>
					</div>

					<div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-home font-dark"></i>
                                        <span class="caption-subject bold uppercase">Registros del Libro</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-toolbar">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="btn-group">
                                                <button id="sample_editable_1_new" class="btn sbold green" onclick="showAddHoras();"> <span id="mostrar">Agregar Registros</span>
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="btn-group pull-right">
                                                    <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Herramientas
                                                        <i class="fa fa-angle-down"></i>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="fa fa-print"></i> Imprimir </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="fa fa-file-pdf-o"></i> Guardar como PDF </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="fa fa-file-excel-o"></i> Exportar a Excel </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-striped table-bordered table-hover order-column" id="sample_1 " ng-model="customerAddresses" >
                                        <thead>
                                            <tr>

												<th> Fecha </th>
												<th> Finalidad </th>
												<th> Hs Salida </th>
												<th> Desde </th>
												<th> Hasta </th>
												<th> Hs Llegada </th>
												<th> Aeropuerto </th>
												<th> Piloto </th>
												<th> Co-Piloto </th>
												<th> De Dia </th>
												<th> Nocturno </th>
												<th> Aterrizajes </th>
												<th> Instrucción </th>
												<th> Multi-Motor </th>
												<th> Reactor </th>
												<th> Turbo Helice </th>
												<th> Aero-Aplicador </th>
												<th> Real </th>


                                            </tr>
                                        </thead>
                                        <tbody>
											<tr class="odd gradeX" ng-repeat="c in listCustomers.listAddress" >

												<td>{{c.date}}</td>
												<td>{{c.finality}}</td>
												<td>{{c.departure}}</td>
												<td>{{c.from}}</td>
												<td>{{c.to}}</td>
												<td>{{c.arrival}}</td>
												<td>{{c.airport}}</td>
												<td>{{c.pilot}}</td>
												<td>{{c.coPilot}}</td>
												<td>{{c.atDay}}</td>
												<td>{{c.nightly}}</td>
												<td>{{c.landings}}</td>
												<td>{{c.Instruction}}</td>
												<td>{{c.multi-engine}}</td>
												<td>{{c.reactor}}</td>
												<td>{{c.turbo-propeller}}</td>
												<td>{{c.aeroApplication}}</td>
												<td>{{c.real}}</td>
												<td>
                                                    <span class="label label-sm label-success editDir " ng-click="loadFormCustomerAddresses(c.id,c.description,c.street,c.number,c.floor,c.floorid,c.locationid,c.loc_id,c.phone1,c.phone2,c.lat,c.longitud,c.default_address,c.default_address,c.priority)"> Editar </span>&nbsp;
													<span class="label label-sm label-warning" ng-click="deleteCustomerAddresses(c.id)" id="demo_3"> Borrar </span>
                                                </td>
											</tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>



		</div>
	</div>
</div>
